/* Definido fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 17px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #b38c8c;

}

h1 {
    font-size: 32px;
    font-weight: 500;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

/*Barra de navegação */
#navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: steelblue;
    
}
.btn_navbar {
    background-color: rgba(0, 0, 0, 0.0);
    width: 170px;
    height: 40px;
    margin-right: 15px;
    font-weight: 450;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(130, 184, 255);
    color: rgb(201, 230, 255);
    font-weight: 350;
}
#btn_nova_venda {
    background-color: rgb(141, 210, 255);
    border-color: rgb(20, 65, 124);
    color: rgb(20, 65, 124);
}
#btn_nova_venda:hover {
    background-color: rgb(169, 220, 255);
    border-color: rgb(20, 65, 124);
    color: rgb(16, 51, 97);
}
/* Conteúdo (páginas) */
#conteudo {
    background-color: bisque;
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
}
